<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="bdPastoralEntities1" connectionString="metadata=res://*/dmPastoral.csdl|res://*/dmPastoral.ssdl|res://*/dmPastoral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\Parroquia\Codigo\Pastoral.Aplicacion\Pastoral.Data\bdPastoral.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>